<div fxLayout="row" fxLayoutAlign="space-between stretch"  class="adverts-panel" class="outliner" *ngIf="finishedLoading">
  <!-- <div> {{advert.id}}.</div> -->
  <div fxLayout="row" fxLayoutAlign="center center" >
   
    <div>
    <img (click)="gotoItemPage(advert)" mat-card-image [src]="advert.imgmain" class="image">
  </div>
  </div>
  
  <div fxLayout="column" fxLayoutAlign="center start"  *ngIf="advert">
    <span>{{advert.title}}</span>
  
  </div>
    <div fxLayout="row" fxLayoutAlign="center center" >

    <button mat-button *ngIf='myAd' color="primary"  (click)="deleteAdvert(advert)">Obrisi </button>
    <button mat-button *ngIf='!myAd' (click)="gotoItemPage(advert)">Pogledaj detalje</button>
    <button mat-button *ngIf='!myAd' color="primary"  (click)="addToKart(advert)">Kupi</button>

  </div>
 
</div>
