<p *ngIf="data.user.role!='ADMINISTRATOR'">Promena statusa korisnika</p>
<div fxLayout="row" fxLayoutAlign="space-around stretch">
  <button mat-flat-button color="primary" [disabled]="data.user.status === 'ACTIVE'" (click)="activate(data.user.id)">
    Aktiviraj korisnika </button>
  <button mat-flat-button color="warn" [disabled]="data.user.status === 'BLOCK'" (click)="block(data.user.id)">
    Blokiraj korisnika</button>
</div>


<table *ngIf="allPermisions">
  <tr>
    <td> Da li korisnik sme da se logije?</td>
    <td>
      <mat-slide-toggle [(ngModel)]="allPermisions.canLog">{{allPermisions.canLog}}</mat-slide-toggle>
    </td>
  </tr>
  <tr>
    <td> Da li korisnik sme da objavljuje oglase?</td>
    <td>
      <mat-slide-toggle [(ngModel)]="allPermisions.canPost">{{allPermisions.canPost}}</mat-slide-toggle>
    </td>
  </tr>

  <button mat-button (click)="submit()">Sacuvaj izmene</button>
</table>
