monolith/client/node_modules/**
monolith/client/node_modules/font-awesome/scss/font-awesome.scss
monolith/client/node_modules/font-awesome/.npmignore
monolith/client/node_modules/font-awesome/css/font-awesome.css
monolith/client/node_modules/font-awesome/css/font-awesome.css.map
monolith/client/node_modules/font-awesome/css/font-awesome.min.css
monolith/client/node_modules/font-awesome/fonts/fontawesome-webfont.eot
monolith/client/node_modules/font-awesome/fonts/fontawesome-webfont.svg
monolith/client/node_modules/font-awesome/fonts/fontawesome-webfont.ttf
monolith/client/node_modules/font-awesome/fonts/fontawesome-webfont.woff
monolith/client/node_modules/font-awesome/fonts/fontawesome-webfont.woff2
monolith/client/node_modules/font-awesome/fonts/FontAwesome.otf
monolith/client/node_modules/font-awesome/HELP-US-OUT.txt
monolith/client/node_modules/font-awesome/less/animated.less
monolith/client/node_modules/font-awesome/less/bordered-pulled.less
monolith/client/node_modules/font-awesome/less/core.less
monolith/client/node_modules/font-awesome/less/fixed-width.less
monolith/client/node_modules/font-awesome/less/font-awesome.less
monolith/client/node_modules/font-awesome/less/icons.less
monolith/client/node_modules/font-awesome/less/larger.less
monolith/client/node_modules/font-awesome/less/list.less
monolith/client/node_modules/font-awesome/less/mixins.less
monolith/client/node_modules/font-awesome/less/path.less
monolith/client/node_modules/font-awesome/less/rotated-flipped.less
monolith/client/node_modules/font-awesome/less/screen-reader.less
monolith/client/node_modules/font-awesome/less/stacked.less
monolith/client/node_modules/font-awesome/less/variables.less
monolith/client/node_modules/font-awesome/package.json
monolith/client/node_modules/font-awesome/README.md
monolith/client/node_modules/font-awesome/scss/_animated.scss
monolith/client/node_modules/font-awesome/scss/_bordered-pulled.scss
monolith/client/node_modules/font-awesome/scss/_core.scss
monolith/client/node_modules/font-awesome/scss/_fixed-width.scss
monolith/client/node_modules/font-awesome/scss/_icons.scss
monolith/client/node_modules/font-awesome/scss/_larger.scss
monolith/client/node_modules/font-awesome/scss/_list.scss
monolith/client/node_modules/font-awesome/scss/_mixins.scss
monolith/client/node_modules/font-awesome/scss/_path.scss
monolith/client/node_modules/font-awesome/scss/_rotated-flipped.scss
monolith/client/node_modules/font-awesome/scss/_screen-reader.scss
monolith/client/node_modules/font-awesome/scss/_stacked.scss
monolith/client/node_modules/font-awesome/scss/_variables.scss
