<div fxLayout="row" fxLayoutAlign="center center" >
  <h2> Administratorski sifrarnici</h2>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly start" *ngIf='codes'>

 <app-content-table
 [ENTITY_DATA] = "codes.fuels"
 [typeNames] = "'goriva'"
 [serverUrl] = "'/fuel'"
  ></app-content-table>

<app-content-table
 [ENTITY_DATA] = "codes.models"
 [typeNames] = "'modele'"
 [serverUrl] = "'/model'"
  ></app-content-table>
  
<app-content-table
[ENTITY_DATA] = "codes.manufacturers"
[typeNames] = "'proizvodjace'"
[serverUrl] = "'/manufacturer'"
 ></app-content-table>

 <app-content-table
 [ENTITY_DATA] = "codes.cclass"
 [typeNames] = "'klase'"
 [serverUrl] = "'/cclass'"
  ></app-content-table>
 
 <app-content-table
[ENTITY_DATA] = "codes.cities"
[typeNames] = "'gradove'"
[serverUrl] = "'/city'"
 ></app-content-table>

 <app-content-table
 [ENTITY_DATA] = "codes.gearType"
 [typeNames] = "'menjace'"
 [serverUrl] = "'/gear'"
  ></app-content-table>
 
  
 
</div>
