<div fxLayout="row" fxLayoutAlign="start start">

  <div fxLayout="column" fxLayoutAlign="space-around center">

    <!-- <mat-list role="list"> -->
    <mat-list-item role="listitem">
      <mat-card (click)="show('/fuel','goriva')">Sifrarnici za goriva</mat-card>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-card (click)="show('/model', 'modele')">Sifrarnici za modele</mat-card>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-card (click)="show('/manufacturer', 'proizvodjace')">Sifrarnici za proizvodjace</mat-card>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-card (click)="show('/cclass', 'klase')">Sifrarnici za klase </mat-card>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-card (click)="show('/city','gradove')">Sifrarnici za gradove</mat-card>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-card (click)="show('/gear', 'menjace')">Sifrarnici za menjace</mat-card>
    </mat-list-item>
    <!-- </mat-list> -->
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly start">

    <app-content-table [typeNames]="typeName" [serverUrl]="link"  *ngIf='showResult'></app-content-table>
  </div>
</div>