<div class="content" fxLayout="row" fxLayoutAlign="center none" >
  <div *ngIf="!isSignedIn()"> 
    <app-api-card
    (apiClick)="makeRequest($event)"    
    username="peraSaKlise"
    password="prvi_korisnik"
    fxFlex
    imgUrl="https://img.icons8.com/bubbles/200/000000/user-male.png"
    title='Pera Peric korisnik'>
  </app-api-card>


  <app-api-card
    (apiClick)="makeRequest($event)"    
    username="maraSmara"
    password="123gospodja"
    fxFlex
    imgUrl="https://img.icons8.com/bubbles/200/000000/user-female.png"
    
    title='Mara Maric korisnik'>
  </app-api-card>

  <app-api-card
    (apiClick)="makeRequest($event)"        
    username="agnt"
    password="admin123"
    fxFlex
    imgUrl="https://img.icons8.com/bubbles/200/000000/system-administrator-female.png"
    title='Ovlascena agencija'
  >
  </app-api-card>
  <app-api-card
  (apiClick)="makeRequest($event)"
  
  class="last"
  username="admin"
  password="admin123"
  fxFlex
  imgUrl="https://img.icons8.com/bubbles/200/000000/administrator-male.png"
  title='Administrator'
>
</app-api-card>
</div>
<div *ngIf="isSignedIn()">
  
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Rent-a-car"><app-rent-a-car-adverts ></app-rent-a-car-adverts> </mat-tab>
    <mat-tab label="Oglasi" > <app-advert></app-advert></mat-tab>
    <mat-tab label="Cenovnici"><app-pricelist></app-pricelist></mat-tab>
    <mat-tab label="Poruke"><app-inbox></app-inbox></mat-tab>
    <mat-tab label="Zahtevi"><app-requests></app-requests></mat-tab>
    <mat-tab label="Profil"><app-user-profile></app-user-profile></mat-tab>
    <mat-tab *ngIf = "ifAdmin()" label="Sifrarnici" ><app-code-book></app-code-book></mat-tab>
  </mat-tab-group> 
</div>