.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }
  .firstdiv{
    width: 28%;
  }
  .secdiv{
    width: 68%;
  }