<div>
  <h1>Moji oglasi</h1>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div *ngFor="let advert of usersAdverts">
      <app-advert-card [advert]='advert' myAd='true'></app-advert-card>
    </div>
  </div>


  <h3> Dodaj novi oglas</h3>
  <form (ngSubmit)="(submitAddForm())" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Naslov oglasa</mat-label>
      <input [(ngModel)]="new_advert.title" name="title" matInput maxlength="256"
        placeholder="Model, serija, godiste...">
    </mat-form-field>
    <button type="submit">Ok</button>
  </form>
</div>