<div fxLayout="column" fxLayoutAlign="center  stretch">
    <h1>{{advert.title}}</h1>
    <div fxLayout="row" fxLayoutAlign="space-around  center">
        <img [src]="advert.img" height="300px">
        <div>
            
        <h3> Opste infomacije o automobilu</h3>
        <mat-list> Proizvodjac: <strong>  {{advert.manufacturer}} </strong>  </mat-list>
        <mat-list> Model : <strong> {{advert.model}}</strong> </mat-list>
        <mat-list> Tip menjaca: <strong> {{advert.gear}}   </strong>  </mat-list>
        <mat-list> Vrsta goriva: <strong> {{advert.fuel}} </strong></mat-list>
        <mat-list> Klasa automobila: <strong> {{advert.cclass}} </strong></mat-list>        
        <mat-list *ngIf="advert.kidsSeat"> Broj decijih sedista: <strong> {{advert.numberOfKidsSeat}}</strong></mat-list>
        <mat-list *ngIf="!advert.kidsSeat">Nema decijih sedista na raspolaganju. </mat-list>       
        <mat-list> Da li postoji opvija CDW :<strong>  {{advert.CDW}} </strong></mat-list>
        <mat-list> Presao do sad: <strong>{{ advert.milage }} km </strong></mat-list>
        <mat-list> Cenovnik: </mat-list>
    </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around  center">
    <h2> Rezervisi automobil.</h2>
</div>
<div fxLayout="row" fxLayoutAlign="space-around  center">
    <mat-form-field>
        <mat-label>Mesto preuzimanja</mat-label>
        <mat-select [(value)]="selectedCity">
            <mat-option *ngFor="let city of cityList" [value]="city.id">
                {{city.code}} - {{city.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Datum preuzimanja</mat-label>
        <input matInput [matDatepicker]="dp1" [formControl]="date1" (dateChange)="updateDate('rent', $event)">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker touchUi  #dp1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Vreme preuzimanja</mat-label>
        <mat-select [(value)]="selectedRentingTime">
            <mat-option *ngFor="let time of timeList" [value]="time.value">
                {{time.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Datum vracanja</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date"  (dateChange)="updateDate('return', $event)">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker touchUi  #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vreme vracanja</mat-label>
        <mat-select  [(value)]="selectedReturnTime">
            <mat-option *ngFor="let time of timeList" [value]="time.value">
                {{time.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <button mat-raised-button (click) = "submit()">Pronadji vozilo</button>

</div>

<div *ngIf="false">
    <div class="container row">
        <div class="col-md-12">
            <h1>Upload Image</h1>
        </div>
    </div>
    <div class="container row">
        <div class="col-md-6">
            <input type="file" (change)="onFileChanged($event)">
        </div>
        <div class="col-md-6">
            <input type="button" (click)="onUpload()" value="upload">
        </div>
    </div>
    <hr />
    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=message>{{message}}</div>
        </div>
    </div>
    <div class="container row">
        <div class="col-md-6">
            <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
                name="name" />
        </div>
        <div class="col-md-6">
            <input type="button" (click)="getImage()" value="Get Image">
        </div>
    </div>
    <div class="container row">
        <div class="col-md-12">
            <div *ngIf=retrievedImage>

                <img [src]="retrievedImage">
            </div>
        </div>
    </div>
</div>