<div fxLayout="row" fxLayoutAlign="space-between none" >
<mat-card>
  <mat-card-title> Nadji oglas:</mat-card-title>
  <mat-card-content>
    <form  (ngSubmit)="(submitSearchForm())" class="search-form">
      <table>
        <tr><td>
        <mat-form-field>
            <mat-label>Marka</mat-label>
            <mat-select [formControl]="manuCtrl" [(value)]="selmanu" multiple>         
              <mat-option *ngFor="let item of codebook.manufacturers" [value]="item">{{item.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="little">
            <mat-label>Model</mat-label>
            <mat-select [formControl]="modelCrtl" [(value)]="selmodel" multiple>         
              <mat-option *ngFor="let item of codebook.models" [value]="item">{{item.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Vrsta goriva:</mat-label>
            <mat-select [formControl]="fuelCrtl" [(value)]="selfuel" multiple>         
              <mat-option *ngFor="let item of codebook.fuels" [value]="item">{{item.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tip menjaca:</mat-label>
            <mat-select [formControl]="gearCrtl" [(value)]="selgear" multiple>         
              <mat-option *ngFor="let item of codebook.gearType" [value]="item">{{item.title}}</mat-option>
            </mat-select>
          </mat-form-field>   <mat-form-field>
            <mat-label class="little">Klasa automobila:</mat-label>
            <mat-select [formControl]="cclassCrtl" [(value)]="selcc" multiple>         
              <mat-option *ngFor="let item of codebook.cclass" [value]="item">{{item.title}}</mat-option>
            </mat-select>
          </mat-form-field>
          </td></tr>
          <tr><td> <mat-form-field class="example-margin">
            <mat-label>Cena od</mat-label>
            <input matInput type="number" [(value)]="min1">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <mat-label>Cena do</mat-label>
            <input matInput type="number" [(value)]="max1">
          </mat-form-field>         
          <mat-form-field class="example-margin">
            <mat-label>Zeljena kilometraza</mat-label>
            <input matInput type="number" [(value)]="max2">
          </mat-form-field>
          <mat-form-field class="example-margin">
            <mat-label>Broj sedista za decu</mat-label>
            <input matInput type="number" [(value)]="max2">
          </mat-form-field>
        </td></tr>
        <tr><label id="example-radio-group-label">Da li ima CDW?</label>
          <mat-radio-group aria-label="Da li da ima CDw?">
            <mat-radio-button value="da"> Da</mat-radio-button>
            <mat-radio-button value="ne"> Ne</mat-radio-button>
          </mat-radio-group></tr>
          <tr><td><button mat-button type="submit">Trazi</button>    </td></tr>
      </table>
  </form>
    
  </mat-card-content>
</mat-card>
<div fxLayout="row" fxLayoutAlign="space-between none" ></div>