<div *ngIf="!hasRequests()">
<h2> Nemate nove zahteve.</h2>
</div>
  
  <div fxLayout="column" fxLayoutAlign="space-around none"  *ngFor="let items of myRequests">
  <h2> Korisnik {{items.owner.fullName}} se interesuje za vase oglase</h2>
     <table mat-table  [dataSource]="items.content" class="mat-elevation-z8">    
 
       <ng-container matColumnDef="img">
         <th mat-header-cell *matHeaderCellDef> Slika </th>
         <td mat-cell *matCellDef="let item"> <img [src]="imgUrl+item.advert.imgmain"  height="55px"> </td>
       </ng-container>
 
       <ng-container matColumnDef="title">
         <th mat-header-cell *matHeaderCellDef> Naslov oglasa</th>
         <td mat-cell *matCellDef="let item"> {{item.advert.title}} </td>
       </ng-container>
  
 
       <ng-container matColumnDef="renta">
         <th mat-header-cell *matHeaderCellDef> Preuzimanje</th>
         <td mat-cell *matCellDef="let item"> {{item.rentingDate}} u {{ item.rentingTime}} </td>
       </ng-container>
 
       <ng-container matColumnDef="returning">
         <th mat-header-cell *matHeaderCellDef>Vracanje</th>
         <td mat-cell *matCellDef="let item"> {{item.returningDate}} u {{item.returningTime}}</td>
       </ng-container>
 
       <ng-container matColumnDef="status">
         <th mat-header-cell *matHeaderCellDef> Status</th>
         <td mat-cell *matCellDef="let item"> {{item.status}}  
            <mat-icon *ngIf="item.conflict.length>0" matTooltip="Konflik sa drugim zahtevima">error_outline</mat-icon>
            <!-- <div *ngFor="let it of item.conflict"> {{it.id}} {{it.advert.manufacturer.title}}</div> -->
          </td>
       </ng-container>
       
       <ng-container matColumnDef="actions">
         <th mat-header-cell *matHeaderCellDef> Akcije</th>
         <td mat-cell *matCellDef="let item"> <button (click)="accept(item)" [disabled]="item.status === 'RESERVED' || item.status === 'CANCELED'"> Prihvati zahtevi</button> <button (click)="decline(item.id)" [disabled]="item.status === 'RESERVED' || item.status === 'CANCELED'"> Odbi zahtev</button></td>
       </ng-container>
   
       
       
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
 
   </div>

  
  
 