<mat-tab-group>
  <mat-tab label="Zahtevi na cekanju">
    <app-request-table  *ngIf="isDataLoaded" title=" se interesuje za vase oglase" 
     [data]="pendingRequests"
     reqStatus="PENDING"
     [serverUrl]="config.get_img_url"
     (refreshData)="getMyRequests()"></app-request-table>
  </mat-tab>

  <mat-tab label="Odbijeni zahtevi">
    <app-request-table *ngIf="isDataLoaded"  title=" odbijeni zahtevi"
     [data]="canceledRequests"
     reqStatus="CANCELED"
     [serverUrl]="config.get_img_url"></app-request-table>
  </mat-tab>
  <mat-tab label="Potvrdjeni zahtevi"> 
    <app-request-table *ngIf="isDataLoaded"  title="Rezervisani zahtevi "
    [data]="reservedRequests"
    reqStatus="RESERVED"
    [serverUrl]="config.get_img_url"></app-request-table>
  </mat-tab>
</mat-tab-group>