<h1 mat-dialog-title> {{data.user.fullName}}</h1>
<div mat-dialog-content>  
  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <p> Promena statusa korisnika</p>
    <button mat-flat-button color="primary" *ngIf="data.user.status == 'BLOK'"  > Aktiviraj </button> 
    <button mat-flat-button color="warn"  *ngIf="data.user.status == 'ACTIVE'"  >Blokiraj</button>  
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" >
  <p> Promena permisije korisnika</p>
  <mat-form-field >
    <mat-label>Uloga</mat-label>
    <mat-select [formControl]="authorities" >      
      <mat-option *ngFor="let auth of authList" [value]="auth">{{auth}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="end center"mat-dialog-actions >
  <button mat-button (click)="onNoClick()">Odustani</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>izmeni</button>
</div>